In [14]:
import yfinance as yf
import pandas as pd
from datetime import date

# List of Dow Jones (DJIA) constituents
tickers = [
    "AAPL", "AMGN", "AXP", "BA", "CAT", "CSCO", "CVX", "DIS", "DOW", "GS",
    "HD", "HON", "IBM", "INTC", "JNJ", "JPM", "KO", "MCD", "MMM", "MRK",
    "MSFT", "NKE", "PG", "TRV", "UNH", "V", "VZ", "WBA", "WMT"
]

# Define the date range
from_date = date(1928, 1, 1) 
to_date = date.today()

# Download historical data
data = yf.download(tickers, from_date, to_date, interval="1d", auto_adjust=False)
data = data.swaplevel(axis=1)
# Save to CSV
# data.to_csv("DJIA_Historical_Data.csv")

# Display the first few rows
display(data.head())

[*********************100%***********************]  29 of 29 completed

Ticker,AAPL,AMGN,AXP,BA,CAT,CSCO,CVX,DIS,DOW,GS,...,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Price,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,...,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,NaN,NaN,0.190931,0.469587,NaN,0.321829,0.057686,NaN,NaN,...,633830,NaN,NaN,192000,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,NaN,NaN,0.194750,0.474160,NaN,0.321103,0.058460,NaN,NaN,...,6564672,NaN,NaN,428800,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,NaN,NaN,0.192840,0.486358,NaN,0.318197,0.058460,NaN,NaN,...,1199750,NaN,NaN,326400,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,NaN,NaN,0.189022,0.490932,NaN,0.310206,0.058654,NaN,NaN,...,520646,NaN,NaN,544000,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,NaN,NaN,0.189499,0.493981,NaN,0.308752,0.058460,NaN,NaN,...,1380845,NaN,NaN,1523200,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data.loc[:, pd.IndexSlice[:, ['Adj Close']]]

Ticker,AAPL,AMGN,AXP,BA,CAT,CSCO,CVX,DIS,DOW,GS,...,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Price,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,...,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,NaN,NaN,0.190931,0.469587,NaN,0.321829,0.057686,NaN,NaN,...,0.066629,NaN,NaN,0.253060,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,NaN,NaN,0.194750,0.474160,NaN,0.321103,0.058460,NaN,NaN,...,0.063837,NaN,NaN,0.250294,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,NaN,NaN,0.192840,0.486358,NaN,0.318197,0.058460,NaN,NaN,...,0.063186,NaN,NaN,0.246146,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,NaN,NaN,0.189022,0.490932,NaN,0.310206,0.058654,NaN,NaN,...,0.061045,NaN,NaN,0.244417,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,NaN,NaN,0.189499,0.493981,NaN,0.308752,0.058460,NaN,NaN,...,0.061231,NaN,NaN,0.237849,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-03-03,238.029999,310.779999,295.489990,170.059998,332.040009,63.480000,153.089996,112.790001,36.060001,605.260010,...,93.150002,388.489990,78.410004,175.589996,260.839996,467.049988,361.820007,43.869999,10.26,97.589996
2025-03-04,235.929993,312.190002,283.470001,158.899994,326.750000,63.259998,152.000000,109.010002,35.619999,581.140015,...,92.559998,388.609985,77.320000,173.179993,255.699997,474.609985,352.230011,42.869999,10.84,94.970001
2025-03-05,235.740005,316.570007,284.179993,163.160004,338.489990,63.959999,150.809998,109.309998,37.779999,593.070007,...,93.190002,401.019989,77.809998,174.610001,258.029999,475.980011,352.679993,42.840000,10.75,95.980003
2025-03-06,235.330002,317.820007,275.640015,158.429993,341.010010,63.410000,152.949997,105.430000,37.439999,567.669983,...,94.000000,396.890015,77.709999,174.660004,256.019989,487.720001,344.160004,44.230000,10.60,94.639999
2025-03-07,239.070007,324.859985,273.209991,154.179993,350.299988,63.939999,156.339996,105.510002,37.450001,559.669983,...,94.650002,393.309998,78.589996,175.949997,257.700012,493.480011,345.320007,46.060001,11.39,91.720001